.Movie-img{
    height: 250px;
    width: 250px;
    border: 20px, black;
    border-radius: 20px;
    transition: transform 0.4s;
    margin-top: 15px;
    
}

.Movie-div{
    height: 450px;
    width: 22%;
    text-align: center;
    padding: 10px;
    margin: 10px auto 10px auto;
    border: 1px solid darkblue;
    border-radius: 35px;
    background-color: black;
    box-shadow: 5px 5px 15px blue;
    transition-duration: 0.4s;
}

.Movie-div:hover {
    background-color: darkblue;
}

.Movie-div:hover .Movie-img{
    transform: scale(1.1);
}
