.MoviePage-div {
    width: 85%;
    height: auto;
    min-height: 60vh;
    display: flex;
    flex-direction: row;
}

.MoviePage-img {
    width: 50%;
    height: auto;
    margin: auto auto 40px auto;
}

.MoviePage-text {
    width: 45%;
    height: 100%;
    text-align: center;
    margin: auto;
}